# Header 1
## Header 2
### Header 3
#### header 4
##### header 5
###### header 6

<br />

This paragraph has examples of words in **bold**, *italic* and `inline block code`.

<br />

[python website](https://docs.python.org/3/)

<br />

This is an unordered list (RMarkdown will need the space before and after the list items):

* spam

* eggs

* bacon

This is an ordered list (spaces before and after the list items needed here too):

1. one

2. two

3. three

This citation comes from the Python Tutorial:

> Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

In [8]:
import random


for number in range(5):
    print(f"random number {number + 1}:", random.randint(1,100))

random number 1: 94
random number 2: 43
random number 3: 5
random number 4: 95
random number 5: 16

# new code

## a new example of markdown

Let's import a dataset and check its first five rows

In [7]:
import seaborn as sns


df = sns.load_dataset("anscombe")
df.head()

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33